In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("box_office_data.csv")
print(df)
df.info()
df.head()
df.isnull().sum()

      Rank                         Release Group   $Worldwide    $Domestic  \
0        1                Mission: Impossible II  546388108.0  215409889.0
1        2                             Gladiator  460583960.0  187705427.0
2        3                             Cast Away  429632142.0  233632142.0
3        4                       What Women Want  374111707.0  182811707.0
4        5                              Dinosaur  349822765.0  137748063.0
...    ...                                   ...          ...          ...
4995   196                         Devara Part 1    7361414.0    5600000.0
4996   197                     Kolpaçino 4 4'lük    7343114.0          0.0
4997   198  Lim Young Woong: Im Hero the Stadium    7305588.0          0.0
4998   199                                  Yolo    7241561.0    2001584.0
4999   200                                 Sight    7206741.0    7206741.0

      Domestic %     $Foreign  Foreign %  Year                        Genres  \
0           39.4  330978219.0       60.6  2000   Adventure, Action, Thriller
1           40.8  272878533.0       59.2  2000      Action, Drama, Adventure
2           54.4  196000000.0       45.6  2000              Adventure, Drama
3           48.9  191300000.0       51.1  2000               Comedy, Romance
4           39.4  212074702.0       60.6  2000  Animation, Family, Adventure
...          ...          ...        ...   ...                           ...
4995        76.1    1761414.0       23.9  2024                 Action, Drama
4996         0.0    7343114.0      100.0  2024                        Comedy
4997         0.0    7305588.0      100.0  2024            Music, Documentary
4998        27.6    5239977.0       72.4  2024         Drama, Comedy, Action
4999       100.0          0.0        0.0  2024                Drama, History

        Rating  Vote_Count Original_Language  \
0     6.126/10      6741.0                en
1     8.217/10     19032.0                en
2     7.663/10     11403.0                en
3      6.45/10      3944.0                en
4     6.544/10      2530.0                en
...        ...         ...               ...
4995    7.0/10        30.0                te
4996    4.0/10         4.0                tr
4997    0.0/10         0.0                ko
4998    6.3/10        70.0                zh
4999    6.0/10        23.0                en

                          Production_Countries
0                     United States of America
1     United Kingdom, United States of America
2                     United States of America
3     United Kingdom, United States of America
4                     United States of America
...                                        ...
4995                                     India
4996                                    Turkey
4997                               South Korea
4998                                     China
4999                  United States of America

[5000 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                5000 non-null   object
 9   Rating                5000 non-null   object
 10  Vote_Count            5000 non-null   float64
 11  Original_Language     5000 non-null   object
 12  Production_Countries  5000 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 507.9+ KB

Rank                    0
Release Group           0
$Worldwide              0
$Domestic               0
Domestic %              0
$Foreign                0
Foreign %               0
Year                    0
Genres                  0
Rating                  0
Vote_Count              0
Original_Language       0
Production_Countries    0
dtype: int64

In [ ]:
#ensuring no dulitples are in the data 
df = df.drop_duplicates()

In [ ]:
#converting my multi value columns into list 
df["Genres"] = df["Genres"].str.split(", ")
df["Production_Countries"] = df["Production_Countries"].str.split(", ")

In [ ]:
# vaildate cleaning of dataset
df.info()
df.isnull().sum()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                0 non-null      object
 9   Rating                5000 non-null   float64
 10  Vote_Count            5000 non-null   float64
 11  Original_Language     5000 non-null   object
 12  Production_Countries  5000 non-null   object
 13  Percent_Total         5000 non-null   float64
dtypes: float64(8), int64(2), object(4)
memory usage: 547.0+ KB

,Rank,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Rating,Vote_Count,Percent_Total
count,5000.00000,5.000000e+03,5.000000e+03,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,100.50000,1.192137e+08,4.472523e+07,35.740620,7.448809e+07,64.256640,2012.000000,6.510064,2480.719000,99.997260
std,57.74008,2.005243e+08,7.727026e+07,30.656992,1.334932e+08,30.654531,7.211824,0.935483,3888.059606,0.100362
min,1.00000,1.666028e+06,0.000000e+00,0.000000,0.000000e+00,0.000000,2000.000000,0.000000,0.000000,93.200000
25%,50.75000,2.466220e+07,9.275150e+04,0.200000,1.371034e+07,42.200000,2006.000000,6.048000,226.500000,100.000000
50%,100.50000,4.844658e+07,1.798421e+07,37.050000,3.019444e+07,62.950000,2012.000000,6.531500,1035.500000,100.000000
75%,150.25000,1.197588e+08,5.386847e+07,57.800000,7.211578e+07,99.800000,2018.000000,7.100000,2939.000000,100.000000
max,200.00000,2.799439e+09,9.366622e+08,100.000000,1.993811e+09,100.000000,2024.000000,9.700000,36753.000000,100.000000

In [ ]:
df.head()

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries,Percent_Total
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,NaN,6.126,6741.0,en,[United States of America],100.0
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,NaN,8.217,19032.0,en,"[United Kingdom, United States of America]",100.0
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,NaN,7.663,11403.0,en,[United States of America],100.0
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,NaN,6.450,3944.0,en,"[United Kingdom, United States of America]",100.0
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,NaN,6.544,2530.0,en,[United States of America],100.0